**/env/
**/deploy/
src/logs/
src/uploaded_media/
.bash_history
.bash_logout
.git/
.bashrc
.gitconfig
gnupg/
.local/
.profile
.python_history
.sudo_as_admin_successful
runserver.sh
src/profiles_project/static/
